.huddle__hero {
  display: flex;
  gap: 50px;
}

.huddle__hero-image img {
  width: 100%;
  height: 100%;
}

.huddle__hero-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
  margin-top: 40px;
  gap: 24px;
}
