/* CSS Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--violet);
  background-image: url(./assets/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: unset;
  text-decoration: none;
}

/* Layout ultility classes */

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}